<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SWE3032-41 Team10</title>
</head>
<body>
  <h2>[SWE3032-41] Music Recommendation System Based On Current Sentiment</h2>
  <form action="/result" method="post">
      <label for="name">Name</label>
      <input id="name" name="name" type="text">
      <label for="name">Tel</label>
      <input id="tel" name="tel" type="tel">
      <label for="sentiment">Type Your Current Feeling</label>
      <input id="sentiment" name="sentiment" type="text">
      <input type="submit" value="Check">
  </form>
</body>
</html>